// Screen adaptation for header + highlights
@media screen and (min-width: 700px) and (max-width: 1023px) {

    #grid-container{


        #header{

            .brand-container{
                width: 80%;
                max-width: unset;
        
                .brand-logo-container{

                    width: fit-content;
        
                    img{
                        width: 85px;
                        height: 85px;
                        
                    }
        
                            
                    .brand-name{
                        font-size: calc(2rem + 1vw);
                    }
        
                }
        
        
                .occupation{
                    width: calc(65% + 0.5vw);
                    font-size: calc(1.4rem + 1vw);
                    top: 110px;
                }
        
            }



            .about-container{

                .about{

                    width: calc(90% + 1vw) ;
                    margin: 0 auto;

                    h1{
                        font-size: calc(2.2rem + 1vw);
                    }
                    
                    p{
                        font-size: calc(0.8rem + 1vw);
                    }
                    
                }

                #button{

                    margin-top: 30px;

                    .youtube-btn{

                        height: 40px;
                        width: 200px;
            
                        .label-check {

                            font-size: 1.8rem;
                        }
                        
                    }
            
                    .frame-container{
                        padding-bottom: 50.625%; 
                    }
            
                    input:checked ~ .frame-container{
                        top: 580px;
                    }
                } 

                
            }
    
            
        }

        // EDUCATION 
        #education {
            grid-area: education;


            .main-title{
                font-size: 3.5rem;
            }
            
            .line-container{

                .line{

                    // Things in common 2
                    .circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {

                        .job{
                            font-size: 2rem;

                        }

                        .year {
                            font-size: 1.8rem;
                        }

                    }

                  // point 5: Warehouse Worker
                 .circle5{
                                        
                    .job{
                        overflow-wrap: unset;
                    }

                }

                // point 6: Chasacademy Student
                .circle6{
                    
                    .job{
                        word-wrap: unset;

                    }

                }

                }
            }  
    
        }

        #highlights{

            h1{
                font-size: 3rem;
            }
    
            .card-container{
                grid-area: highlights;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
    
                .card{

                    margin-bottom: 50px;
    
                    
                    h2{
                        font-size: 2.3rem;
                    }
    
                    h3{
                        font-size: 2.3rem;
                    }
    
                    .content{
                        p{
                            font-size: 1.8rem;
                            line-height: 1.5;
                            padding: 0;
                            padding-top: 20px;
                        }
                    }
                }
            }
    
        }



            // skills 

            #skills{
        
                .main-title{
                    font-size: 3.5rem;
                }
        
                .skills-container{

                    // Things in common
                    .skill-common{
                     
                        .skill-name{
                            font-size: 2.4rem;
                        }
    
                        .skill-bar{
                            height: 24px;
                            border-radius: 3px;
                            width: 95%;
                            margin-left: 10px;
                
                            .skill-percent::before{
                                padding: 8px 10px;
                                font-size: 1.9rem;
                            }
                
                            
                            .skill-percent::after{
                                content: '';
                                width: 10px;
                                height: 10px;
                            }
                        }
    
                    } 
    
    
                // Specific stat for HTML
                .html-container{
                    @include mobile-skill-bar(left, 20px, 90%, 32px, 28px);
                }
    
                // Specific stat for CSS
                .css-container{
                    @include mobile-skill-bar(left, 30px, 80%, 32px, 28px);
                    
                }
    
                // Specific stat for PYTHON
                .python-container{
                    @include mobile-skill-bar(left, 32px, 30%, 32px, 28px);
                }
    
                // Specific stat for C 
                .c-container{
                    @include mobile-skill-bar(left, 10px, 65%, 32px, 28px);
                }
    
            }
    
        }



    // hobby
    #hobby{
        padding-top: 30px;
        h1{
            font-size: 3.5rem;
            padding-bottom: 50px;
        }

        table{
            width: 70%;
            line-height: 2.5;

            th {
                font-size: 1.9rem;
            }

            td {
                color: #000000;
                padding: 0 ;
                font-size: calc(32px - 1vw);
            }
        }
    }




    
    }

}


// tweaking  highlights
@media screen and (min-width: 968px) and (max-width: 1023px) {

    #highlights{

        .card-container{

            .card{

                margin-left: 5px;
                margin-right: 5px;

            }
        }

    }

}






// tweaking hobby part 1
@media screen and (min-width: 1024px) and (max-width: 1250px) {

    #grid-container{

        // hobby
        #hobby{

            h1{
                font-size: 3rem;
                padding-bottom: 30px;
            }

            table{
                width: 70%;
                line-height: 2;

                th {
                    font-size: 1.9rem;
                    line-height: 1.5;
                }

                td {
                    color: #000000;
                    padding: 0 ;
                    font-size: calc(32px - 1vw);
                }
            }
        }


    }

}


// tweaking hobby part 2
@media screen and (min-width: 1250px) and (max-width: 1520px) {

    #grid-container{

        // hobby
        #hobby{

            h1{
                font-size: 3.5rem;
                padding-bottom: 30px;
            }

            table{
                width: 70%;
                line-height: 2;

                th {
                    font-size: 1.9rem;
                    line-height: 1.5;
                }

                td {
                    color: #000000;
                    padding: 0 ;
                    font-size: calc(34px - 1vw);
                }
            }
        }


    }

}


// tweaking hobby part 3
@media screen and (min-width: 1520px) and (max-width: 1900px) {

    #grid-container{

        // hobby
        #hobby{

            h1{
                font-size: 3.5rem;
                padding-bottom: 30px;
            }

            table{
                width: 60%;
                line-height: 2;

                th {
                    font-size: 1.9rem;
                    line-height: 1.5;
                }

                td {
                    color: #000000;
                    padding: 0 ;
                    font-size: calc(42px - 1vw);
                }
            }
        }


    }

}

// tweaking hobby part 4
@media screen and (min-width: 1900px) and (max-width: 2200px) {

    #grid-container{

        // hobby
        #hobby{

            h1{
                font-size: 3.5rem;
                padding-bottom: 50px;
            }

            table{
                width: 50%;
                line-height: 2;

                th {
                    font-size: 1.9rem;
                    line-height: 1.5;
                }

                td {
                    color: #000000;
                    padding: 0 ;
                    font-size: calc(44px - 1vw);
                }
            }
        }


    }

}




// tweaking hobby part 5
@media screen and (min-width: 2201px) and (max-width: 2258px) {

    #grid-container{

        // hobby
        #hobby{

            h1{
                font-size: 3.5rem;
                padding-bottom: 50px;
            }

            table{
                width: 50%;
                line-height: 2;

                th {
                    font-size: 1.9rem;
                    line-height: 1.5;
                }

                td {
                    color: #000000;
                    padding: 0 ;
                    font-size: calc(44px - 1vw);
                }
            }
        }


    }

}


// tweaking hobby part 6
@media screen and (min-width: 2258px) and (max-width: 2560px) {

    #grid-container{

        // hobby
        #hobby{

            h1{
                font-size: 3.5rem;
                padding-bottom: 50px;
            }

            table{
                width: 50%;
                line-height: 2;

                th {
                    font-size: 1.9rem;
                    line-height: 1.5;
                }

                td {
                    color: #000000;
                    padding: 0 ;
                    font-size: calc(44px - 1vw);
                }
            }
        }


    }

}

















// laptop size 1024px
@media screen and (min-width: 1024px){

    #grid-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1.5fr 2fr 1fr 1fr;
        grid-template-areas: 
                            "header education"
                            "header highlights"
                            "header skills"
                            "header hobby";


        // EDUCATION 
        #header{

            grid-area: header;
            height: 100%;

            .brand-container{
                padding-top: 8px;
                top: -60vh; //change to -870px



                .brand-logo-container{
                    
                    img{
                        width: 70px;
                        height: 70px;
                    }
        
                            
                    .brand-name{
                        font-size: 2.7rem;
                    }
    
                }
    
    
                .occupation{
                    font-size: 1.8rem;
                    top: 85px;

                }
    
            }


            //hide hamburger menu
            .checkbox-container{
                display: none;
            }
        
            //hide nav menu
            .menu-items{
                display: none;
            }


            .about-container{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 70%;
                bottom: 0;
                width: 100%;
    
    
                .about{
                    position: relative;
                    top: 80px;

                    h1{
                        font-size: 2.8rem;
                    }
                    
                    p{
                        font-size: 1.5rem;
                    }
                    
                }
    
                .contact-container{

                    @include mobile-contact-container;

                        h3 {
                            font-size: 2.4rem;
                            text-align: left;
                        }
                }
                
                #button{

                    .frame-container{
                        left: 37%;
                        width: 60%;
                        padding-bottom: 50.625%; 
                    }
            
                    input:checked ~ .frame-container{
                        top: 350px;
                    }
                } 
    
            }

        }


        // EDUCATION 
        #education {
            grid-area: education;
            margin-bottom: 80px;

            .main-title{
                font-size: 3.5rem;
            }
            
            .line-container{
                width: 100%;
                height: 72%;
                margin: 0;

                .line{
                    top: 50px;
                    width: 90%;
                    // left: -10px;
                    height: 3px;
                    
                    
                    // Things in common 1
                    .circle1::before, .circle2::before, .circle3::before, .circle4::before, .circle5::before, .circle6::before {
                        display: none;
                    }
                                
                    // Things in common 2 
                    .circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
                        @include circle;
                        top: -6px;
                        
                        .job{
                            font-size: 1.8rem;
                            text-align: center;
                            position: absolute;
                        }

                        .year {
                            display: block;
                            position: relative;
                            font-weight: bolder;
                            font-size: 1.8rem;
                            right: 14px;
                            color: $primary-color;
                        }

                    }

                        
                    // point 1: Middle School
                    .circle1{
                        @include education-circle-text(2%, -28px, -50px, 30px);

                        .job{
                            width: 130px;
                        }

                    }

                    // point 2: High School 
                    .circle2{
                        @include education-circle-text(20%, 25px, -45px, -30px);

                        .job{
                            width: 109px;
                        }
                    }

                    // point 3: Teacher Assistent 
                    .circle3{
                        @include education-circle-text(38%, -42px, -40px, 30px);

                        .job{
                            width: fit-content;
                        }

                    }

                    // point 4: Motor vehicle assembler
                    .circle4{
                        @include education-circle-text(56%, 25px, -62px, -30px);

                        .job{
                            width: 160px;
                        }
                    }

                    // point 5: Warehouse Worker
                    .circle5{
                        @include education-circle-text(76%, -30px, -50px, 30px);

                        .job{
                            width: fit-content;
                        }
                    }
                    
                    // point 6: Chasacademy Student 

                    .circle6{
                        @include education-circle-text(96%, 25px, -74px, -30px);

                        .job{
                            width: fit-content;
                        }
                    }

                }
            }  
    
        }
    

        #highlights{
            grid-area: highlights;
            padding-bottom: 10px;
            
            h1{
                font-size: 3.2rem;
            }

            .card-container{
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;

                .card{
                    width: 45%;

                    
                    h2{
                        font-size: 2.5rem;
                        padding: 10px 0;
                    }

                    .content{

                        h3{
                            font-size: 2rem;
                        }

                    }
                }
        }   }
        


        #skills{
            padding-bottom: 0;

            .main-title{
                font-size: 3.5rem;
            }

            .skills-container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: start;
                height: 200px;


                .skill-common{
                    display: flex;
                    flex-direction: row;
                    align-items: center; 
                    max-width: 300px;

                    .skill-bar{
                        margin: 0;
                        height: 18px;
                    }

                    .skill-name{
                        margin: 0;
                        margin-right: 10px;
                        font-size: 2rem;
                    }
                }

                .html-container{
                    .skill-name{
                        margin-left: 25px;
                    }
            
                }

                .c-container{
                    
                    .skill-name{
                        margin-left: 26px;
                    }
            
                }
            }

        }



    }

}

// tweaking skills part 1
@media screen and (min-width: 1288px) and (max-width: 1685px) {


    #grid-container{


        #header{

            grid-area: header;
            height: 100%;

            .brand-container{
                padding-top: 8px;
                top: -45vh; 

            }
        }



        #skills{

            .skills-container{
                width: 95%;

                .skill-common{ 
                    max-width: 400px;

                    .skill-bar{
                        height: 22px;
                    }

                    .skill-name{

                        font-size: 2.2rem;
                    }
                }



                //Specific stat for HTML 
                .html-container{
                    @include mobile-skill-bar2(28px, 25px);
                }

                // Specific stat for CSS 
                .css-container{
                    @include mobile-skill-bar2(28px, 25px);
                }

                // Specific stat for PYTHON 
                .python-container{
                    @include mobile-skill-bar2(28px, 25px);
                }

                // Specific stat for C 
                .c-container{
                    @include mobile-skill-bar2(28px, 25px);
                }


            }

        }



    }


}



// tweaking skills part 2
@media screen and (min-width: 2111px) and (min-width: 2258px) {


    #grid-container{

        #skills{

            .skills-container{
                width: 88%;

                .skill-common{ 
                    max-width: 580px;

                    .skill-bar{
                        height: 25px;

                        .skill-percent::before{
                            padding: 8px 12px;
                            border-radius: 4px;
                            font-size: 1.8rem;
                        }
            
                        
                        .skill-percent::after{
                            width: 12px;
                            height: 12px;
                        }
                    }

                    .skill-name{

                        font-size: 2.4rem;
                    }
                }

                
                .html-container{
                    .skill-name{
                        margin-left: 31px;
                    }
            
                }

                .c-container{
                    
                    .skill-name{
                        margin-left: 31px;
                    }
            
                }



                //Specific stat for HTML 
                .html-container{
                    @include mobile-skill-bar2(32px, 29px);
                }

                // Specific stat for CSS 
                .css-container{
                    @include mobile-skill-bar2(32px, 29px);
                }

                // Specific stat for PYTHON 
                .python-container{
                    @include mobile-skill-bar2(32px, 29px);
                }

                // Specific stat for C 
                .c-container{
                    @include mobile-skill-bar2(32px, 29px);
                }


            }

        }



    }


}




// tweaking highlights
@media screen and (min-width: 1308px) and (max-width: 1340px){

    #grid-container{

        #education {
            margin-bottom: 0;
    
        }

        #highlights{

            .card-container{

                .card{
                    width: 32%;
                }
        }   }
        
    
    }
}




// contact-container + education
@media screen and (min-width: 1570px){

    #grid-container{

        #header{


            .brand-container{
                top: -45vh; 

            }

            .about-container{
    
                .contact-container{
        
                    @include laptop-contact-container;
    
                    .socialMedia-container {
                        flex-direction: column;
    
                        .github-icon{
                            a {
                              order: 2; 
                              margin-right: 10px;
                        
                            }
                        
                            img {
                              order: 1;
                            }
                        }

                        .linkedin-icon{
                            order: 3;
                            margin-right: 0;
                            a {
                              order: 2; 
                              margin-right: 10px;
                        
                            }
                        
                            img {
                              order: 1;
                            }
                        }
                    }
        
                }

                .about{
        
                    h1{
                        font-size: 3rem;
                    }
                    
                    p{
                        font-size: 1.6rem;
                    }
                    
                }
        
            }
    
        }

        // EDUCATION 
        #education {

            .line-container{

                .line{
                    height: 5px;
                                
                    // Things in common 2 
                    .circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
                        @include circle2;
                        top: -8px;
                        
                        .job{
                            font-size: 1.9rem;
                            text-align: center;
                            position: absolute;
                        }

                        .year {
                            font-size: 1.9rem;
                            right: 16px;
                        }

                    }

                        
                    // point 1: Middle School
                    .circle1{
                        @include education-circle-text(2%, -28px, -50px, 30px);

                        .job{
                            width: 130px;
                        }

                    }

                    // point 2: High School 
                    .circle2{
                        @include education-circle-text(18%, 30px, -90px, -30px);

                        .job{
                            width: 220px;
                        }
                    }

                    // point 3: Teacher Assistent 
                    .circle3{
                        @include education-circle-text(38%, -28px, -90px, 30px);

                        .job{
                            width: 220px;
                        }

                    }

                    // point 4: Motor vehicle assembler
                    .circle4{
                        @include education-circle-text(56%, 30px, -115px, -30px);

                        .job{
                            width: 280px;
                        }
                    }

                    // point 5: Warehouse Worker 
                    .circle5{
                        @include education-circle-text(76%, -28px, -50px, 30px);

                        .job{
                            width: fit-content;
                        }
                    }
                    
                    // point 6: Chasacademy Student 

                    .circle6{
                        @include education-circle-text(96%, 30px, -135px, -30px);

                        .job{
                            width: 235px;
                        }
                    }

                }
            }  
    
        }

        
    }


}


// tweaking youtube
@media screen and (min-width: 1308px) and (max-width: 1500px){

    #grid-container{
        
        #header{

            .about-container{

                #button{
    
                    .frame-container{
                        padding-bottom: 40.625%; 
                    }
            
                    input:checked ~ .frame-container{
                        top: 290px;
                    }
                } 
    
            }

        }

        
    
    }
}











// Tweak brand-logo
@media screen and (min-width: 2100px) and (max-width: 2560px) {

    // Main Table Article 
    #grid-container{

        #header{

            .brand-container{
                width: 100%;
                padding: 0;

                .brand-logo-container{
                    justify-content: space-evenly;
                    width: 100%;

                    img{
                        width: 80px;
                        height: 80px;
                    }
        
                            
                    .brand-name{
                        font-size: 3rem;
                        padding-bottom: 5px;
                    }

                }

                .occupation{
                    font-size: 2.1rem;
                    top: 85px;
                }
            }


            .about-container{
    
                #button{

                    .frame-container{
                        left: 37%;
                        width: 60%;
                        padding-bottom: 40.625%; 
                    }
            
                    input:checked ~ .frame-container{
                        top: 200px;
                    }
                } 
    
            }


        }

        
    }

}


//L-laptop screen
@media screen and (min-width: 2560px){

    #grid-container{

        #header{

            .brand-container{
                width: 70%;
                max-width: unset;
                top: -45vh;
    
                .brand-logo-container{
                    border-bottom: 1px solid $light-green;
                    padding-bottom: 8px;
                    

                    img{
                        width: 80px;
                        height: 80px;
                        margin: 0 -20px;
                    }
        
                            
                    .brand-name{
                        font-size: 3rem;
                        align-self: flex-end;
                        padding-bottom: 5px;
                    }
    
                }
    
    
                .occupation{
                    font-size: 2rem;
                    font-weight: 600;
                    top: 90px;
                    border: none;
                }
    
            }

            .about-container{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 70%;
                bottom: 0;
                width: 100%;
    
    
                .about{

                    h1{

                        font-size: 3.5rem;
                        margin-bottom: 20px;
                    }
                    
                    p{
                        font-size: 1.9rem;
                    }
                    
                }
    
                .contact-container{
                    @include laptop-contact-container;

                    .socialMedia-container {
                    
                        .github-icon, .linkedin-icon {

                          img {
                                margin-right: 0;
                          }

                        }
                    
                      }

                }

                #button{

                    margin-top: 20px;

                    .youtube-btn{

                        height: 50px;
                        width: 260px;
            
                        .label-check {

                            font-size: 2rem;
                        }
                        
                    }
            
                    .frame-container{
                        left: 40%;
                        width: 50%;
                        padding-bottom: 30.625%; 
                    }
            
                    input:checked ~ .frame-container{
                        top: 200px;
                    }

                } 

    
            }



        }


        // EDUCATION
        #education {
            padding-bottom: 0;
            margin-bottom: 0;

            .line-container{

                .line{
                    height: 5px;
                    top: 65px;
                                
                    // Things in common 2 
                    .circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
                        @include circle2;
                        top: -8px;
                        
                        .job{
                            font-size: 2.1rem;
                            text-align: center;
                            position: absolute;
                        }

                        .year {
                            font-size: 1.9rem;
                            right: 16px;
                        }

                    }

                        
                    // point 1: Middle School 
                    .circle1{
                        @include education-circle-text(2%, -30px, -60px, 30px);

                        .job{
                            width: 150px;
                        }

                    }

                    // point 2: High School 
                    .circle2{
                        @include education-circle-text(18%, 30px, -93px, -30px);

                        .job{
                            width: 230px;
                        }
                    }

                    // point 3: Teacher Assistent 
                    .circle3{
                        @include education-circle-text(38%, -30px, -96px, 30px);

                        .job{
                            width: 235px;
                        }

                    }

                    // point 4: Motor vehicle assembler 
                    .circle4{
                        @include education-circle-text(56%, 30px, -125px, -30px);

                        .job{
                            width: 320px;
                        }
                    }

                    // point 5: Warehouse Worker 
                    .circle5{
                        @include education-circle-text(76%, -30px, -50px, 30px);

                        .job{
                            width: fit-content;
                        }
                    }
                    
                    // point 6: Chasacademy Student 

                    .circle6{
                        @include education-circle-text(96%, 30px, -120px, -30px);

                        .job{
                            width: 260px;
                        }
                    }

                }
            }  
    
        }

        #highlights{
            
            h1{
                font-size: 3.5rem;
            }

            .card-container{
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;

                .card{
                    width: 45%;

                    
                    h2{
                        font-size: 2.5rem;
                        padding: 10px 0;
                    }

                    .content{

                        h3{
                            font-size: 2rem;
                        }

                    }
                }
        }   }


        #skills{

            .main-title{
                font-size: 3.5rem;
            }

            .skills-container{
                height: 250px;

                .skill-common{ 

                    .skill-bar{

                        .skill-percent::before{
                            padding: 10px 14px;
                            font-size: 1.9rem;
                        }
            
                        
                        .skill-percent::after{
                            width: 13px;
                            height: 13px;
                        }
                    }

                    .skill-name{

                        font-size: 2.5rem;
                    }
                }

                
                .html-container{
                    .skill-name{
                        margin-left: 32px;
                    }
            
                }

                .c-container{
                    
                    .skill-name{
                        margin-left: 32px;
                    }
            
                }

            }

        }


        // hobby
        #hobby{

            h1{
                font-size: 3.5rem;
                padding-bottom: 40px;
            }

            table{
                width: 50%;
                line-height: 2;

                th {
                    font-size: 1.9rem;
                    line-height: 2;
                }

                td {
                    color: #000000;
                    padding: 0 ;
                    font-size: calc(48px - 1vw);
                }
            }
        }



        
    }
}