@import "variables";
@import "reset";
@import "mixin";



html{
    font-size: 62.5%;
}


//Mobile-First
#grid-container{
    display: grid;
    height: 100vh; 
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr) 0.2fr;
    grid-template-areas: 
    "header"
    "education"
    "highlights"
    "skills"
    "hobby";

    
    #header{
        grid-area: header;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/img/background-intro.webp);
        background-position: center;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh; // for iphone 12 try 1000px 

        .brand-container{
            position: relative;
            display: flex;
            flex-direction: column; 
            justify-content: center; 
            align-items: center;
            text-align: center;
            padding: 20px 20px 0;
            width: 90%;
            max-width: 400px;
            top: -30vh; 


            .brand-logo-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 300px;
                justify-content: center;


                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 100%;
                    margin: 0 20px;
                }
    
                        
                .brand-name{
                    font-size: 2.5rem;
                    font-weight: 500;
                    color: $light-green;
                    padding-bottom: 10px;
                    align-self: flex-end;
                }

            }


            .occupation{
                position: absolute;
                top: 93px;
                padding-top: 15px;
                width: 100%;
                text-transform: uppercase;
                font-size: 1.8rem;
                color: $light-green;
                border-top: 2px solid $light-green;
                font-weight: 600;
            }

        }


        // Nav Bar 
        nav{

            .menu-items{
                position: absolute;
                display: flex;
                background-color: rgba(10, 13, 25, 0.8);
                padding-top: 10px;
                right: 25vw;
                flex-direction: column;
                width: 200px;
                top: -250px;
                transition: 0.8s ease-in-out;
                z-index: 2;

    
                a{
                    display: inline-block;
                    color: $light-green;
                    width: 100%;
                    text-align: center;
                    font-size: 2.2rem;
                    cursor: pointer;
                    padding: 10px 0;

                }
    
                a:hover{
                    box-shadow: 0 -2px 20px 0 $primary-color inset;
                    color: rgb(255, 255, 255);
                }
            }
            
        }

        
        //---------- Checkbox Feature------
        .checkbox-container{
            position: absolute;
            right: 15px;
            padding: 22px;
            top: 9px;

            .number-1{
                color: $light-green;
                position: absolute;
                right: 28px;
                font-size: 3.5rem;
                top: 10px;
                transition: 0.8s ease-in-out;
            }
            
            
            .number-2{
                color: $light-green;
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 3.5rem;
                transform: scaleX(-1);
                transition: 0.8s ease-in-out;

            }
        }

        .dropdown-menu{
            position: absolute;
            top: 30px;
            right: 37px;
            opacity: 0;
            cursor: pointer;

        }

        .dropdown-menu:checked ~ .checkbox-container > .number-1{
            transform: rotate(90deg);
            top: 1px;
            right: 15px;
            transition: 0.8s ease-in-out;
        } 
        
        .dropdown-menu:checked ~ .checkbox-container > .number-2{
            transform: rotate(270deg);
            top: 15px;
            right: 13px;
            transition: 0.8s ease-in-out;
        }

        .dropdown-menu:checked ~ nav > .menu-items{
            top: 0;
            transition: 0.8s ease-in-out;
        }


        .about-container{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 70%;
            bottom: 0;
            width: 100%;


            .about{
                text-align: center;
    
                h1{
                    color: $light-green;
                    font-size: 2.5rem;
                    padding-bottom: 10px;
                }
                
                p{
                    font-size: 1.4rem;
                    line-height: 1.8;
                    margin: 0 5px;
                    margin-top: 10px;
                    font-weight: 600;
                    color: $lighter-green;
                }
                
            }


            #button{
                position: relative;
                width: fit-content;
                margin: 0 auto;
                margin-top: 15px;
                
        
        
                .youtube-btn{
        
                    border: $button-border;
                    background-color: $button-color;
                    height: 40px;
                    border-radius: 10px;
                    width: 180px;
        
                    .label-check {
                        position: relative;
                        display: inline-block;
                        color: #000000;
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                    
                }
        
                .frame-container{
                    position: fixed;
                    top: -1200px;
                    left: 5%;
                    width: 90%;
                    padding-bottom: 55.625%; 
                    transition: 0.8s ease-in-out;
        
                    .responsive-frame{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 0;
                        z-index: 99999;
                    }
                }
        
                .checked{
                    display: none;
                }
        
                input:checked ~ .frame-container{
                    top: 190px;
                    transition: 0.8s ease-in-out;
                }
            } 


            @include mobile-contact-container;

        }

    }

    #education{
        grid-area: education;
        padding-bottom: 50px;

        .main-title{
            text-align: center;
            padding-top: 30px;
            font-size: 3rem;
            padding-bottom: 40px;
            color: $primary-color;
        }

        .line-container{
            position: relative;
            width: 80%;
            margin: 0 auto;

            
            .line{
                position: relative;
                background-color: $light-green;
                width: 3px;
                height: 550px;
                margin: 0 auto;
                border-radius: 10px;
                z-index: -1;
                
                /// Things in common 1
                 .circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
                    @include circle;
    
                }

                // Things in common 2 
                .circle1::before, .circle2::before, .circle3::before, .circle4::before, .circle5::before, .circle6::before {
                    @include circle-pseudo-before;
                }
    
                // Things in common 3 
                .job{
                    position: absolute;
                    width: 30vw;
                    min-width: 120px;
                    left: 20px;
                    font-size: 1.5rem;
                    color: #000000;
                    font-weight: 600;
                    z-index: -1;
                }

                // point 1: Middle School 

                 .circle1{
                    top: 25px;

                    .year{
                        display: none;
                    }

                    &::before{
                        content: '2008' ;
                    }
                }


                // point 2: High School 

                 .circle2{
                    top: 100px;

                    .year{
                        display: none;
                    }

                    &::before{
                        content: '2013' ;
                    }
    
                }

                
                // point 3: Teacher Assistent

                .circle3{
                    top: 180px;

                    .year{
                        display: none;
                    }
                    
                    &::before{
                        content: '2016' ;
                    }
    
                }

                // point 4: Motor vehicle assembler

                 .circle4{
                    top: 265px;

                    .year{
                        display: none;
                    }
    
                    &::before{
                        content: '2018' ;
                    }
                }

                // point 5: Warehouse Worker

                 .circle5{
                    top: 365px;

                    .year{
                        display: none;
                    }

                                        
                    .job{
                        overflow-wrap: break-word;
                    }

    
    
                    &::before{
                        content: '2021' ;
                    }
                }

                // point 6: Chasacademy Student


                .circle6{
                    top: 455px;

                    .year{
                        display: none;
                    }
                    
                    
                    .job{
                        word-wrap: break-word;

                    }

                     &::before{
                        content: '2023' ;
                    }
                }

            }


        }

    }




    @import "tweaks"; // Few tweaks made using Media queries that are within boundaries of mobile-first

}

@import "laptopQuery";  // media queries for laptop-view with new grid-system